<div class="center">
    {{- $src := .Get "src" | strings.TrimPrefix "/" | relURL -}}
    <a class="lightgallery" href="{{ $src }}" title="{{ .Get "alt" }}" data-thumbnail="{{ $src }}"{{ with .Get "alt" }} data-sub-html="<h2>{{ . }}</h2>"{{ end }}>
        <img style="display: block; margin-left: auto; margin-right: auto; width: {{ .Get "width" | default "250px" }}" src="{{ $src }}" alt="{{ .Get "alt" }}" decoding="async" />
    </a>
    {{- with .Get "alt" -}}
    <p style="text-align: center; font-style: italic; margin-top: 0.5rem; color: #666;">{{ . }}</p>
    {{- end -}}
</div>
